


.wrapper {
  width: 100vw;
  height: 100vh;
  overflow: hidden; /* Keep the overflow hidden within the wrapper */
}

.wrapper .main-img {
  width: 100%;
  position: relative;
  height: 100%;
  object-fit: cover;
  object-position: 50%;
}

.fire {
  width: 100%;
  position: absolute;
  height: 20%;
  bottom: 0px;
  z-index: 2;
  object-fit: contain;
}

.logo {
  height: 400px;
}

.right-wrapper {
  position: absolute;
  left: 60%;
  top: 5%;
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.right-wrapper button {
  width: 80%;
}

.action-button {
  padding: 12px 24px;
  margin-top: 10px;
  border: none;
  border-radius: 8px;
  width: 80%;
  background-color: #ff5722; 
  color: #ffffff;
  font-size: 1em;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.action-button:hover {
  background-color: #e64a19; 
}

.action-button:focus {
  outline: none;
  box-shadow: 0 0 0 2px #ffccbc; 
}


.wordart {
  font-family: Arial, sans-serif;
  font-size: 8em;
  font-weight: bold;
  position: absolute;
  top: 70%;
  left: 0;
  z-index: 1;
  display: inline-block;
  white-space: nowrap;
  animation: marquee 10s linear infinite;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.wordart.blues .text {
  font-family: Impact, sans-serif;
  color: #24c0fd;
  -webkit-text-stroke: 0.01em #0000aa;
  text-shadow: 0.13em -0.13em 0px #0000aa;
  letter-spacing: -0.05em;
}

@media only screen and (max-width: 1200px) {
  .right-wrapper {
    left: 50%;
  }
  .wordart {
    font-size: 6em;
    top: 70%;
  }
  .logo {
    height: 300px;
  }
}

@media only screen and (max-width: 800px) {
  .right-wrapper {
    left: 40%;
  }
  .wordart {
    font-size: 5em;
    top: 70%;
  }
  .logo {
    height: 200px;
  }
}

@media only screen and (max-width: 600px) {
  .right-wrapper {
    left: 55%;
  }
  .wordart {
    font-size: 4em;
    top: 70%;
  }
  .logo {
    height: 150;
  }
}

@keyframes marquee {
  0% {
    transform: translateX(240%);
  }
  100% {
    transform: translateX(-100%);
  }
}
