.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000; /* Ensure it appears above other elements */
}

.modal-content {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 8px;
  width: 90%;
  max-width: 500px;
  max-height: 80%;
  overflow-y: auto; /* Add scroll if content overflows */
  position: relative;
}

.close-button {
  padding: 8px 16px;
  margin-top: 20px;
  border: none;
  border-radius: 8px;
  background-color: #ff5722;
  color: #ffffff;
  font-size: 1em;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.close-button:hover {
  background-color: #e64a19;
}


.modal-content h2,
.modal-content h3 {
  margin-top: 0;
}

.modal-content ul {
  list-style-type: disc;
  margin-left: 20px;
}

.nutrition-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.nutrition-table td {
  border: 1px solid #ddd;
  padding: 8px;
}

.nutrition-table tr:nth-child(even) {
  background-color: #f9f9f9;
}

.nutrition-table tr:hover {
  background-color: #f1f1f1;
}

.nutrition-table td:first-child {
  font-weight: bold;
}

.nutrition-table td:nth-child(1) {
  width: 70%;
}
